<style>
/* Estilos para los elementos <li> */
li {
    margin-bottom: 20px; /* Espacio entre elementos de la lista */
    padding: 10px; /* Padding para dar espacio alrededor de cada elemento */
    border: 1px solid #ccc; /* Borde para resaltar cada elemento */
}
</style>
<h1>Lista de Productos</h1>
<ul>
{{#each products}}
    <li>
    <strong>ID:</strong> {{this.id}} <br>
    <strong>Título:</strong> {{this.title}} <br>
    <strong>Descripción:</strong> {{this.description}} <br>
    <strong>Código:</strong> {{this.code}} <br>
    <strong>Precio:</strong> {{this.price}} <br>
    <strong>status:</strong> {{this.status}} <br>
    <strong>Stock:</strong> {{this.stock}} <br>
    <strong>Categria:</strong> {{this.category}} <br>
    <strong>Thumbnails:</strong> {{this.thumbnails}} <br>
    </li>
{{/each}}
</ul>
{{!-- <script src="/socket.io/socket.io.js"></script> --}}
{{!-- <script src="/src/public/js/home.js"></script> --}}